html { background-color: #ccc; }
a, a:active, a:visited, a:link { color: blue; }
a:hover { cursor: pointer; }
h1,h2,h3,h4,h5,h6 { font: bold 16px/1.5 helvetica, arial, Times, serif; color: #123456; }
h1 { margin: 0; font: normal 36px/1 Georgia, Times, serif; }
h2 { margin: 0 0 -7px 0; }
ul li { list-style: none outside none; }

#container {
  position: relative;
  margin: 0 auto;
  width: 630px;
  font: normal 13px/1.2 Arial, Verdana, Helvetica, sans-serif;
  background-color: #fff;
  padding-top: 0;
  padding-right: 20px;
  padding-bottom: 0px;
  padding-left: 20px;
  margin-top: 20px;
  -moz-box-shadow: 0 4px 10px #8B8B8B;
  -webkit-box-shadow: 0 4px 10px #8B8B8B;
	box-shadow: 0 4px 10px #8B8B8B;
}

#header {
  background: -moz-linear-gradient(center top, #dadada, #fff) repeat scroll 0 0 transparent;
  background: -webkit-gradient(linear, left top, left bottom, from(#dadada), to(#fff));
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#dadada', endColorstr='#ffffff');
  text-align: right;
  margin: 0 -20px;
  padding: 20px 10px;
}
#header p { font-size: 14px; margin: 0; }

.interest { margin: 20px 0 10px; float: left; width: 25%; }

.experience { float: left; width: 50%; }
.experience .date { display:block; }
.experience .company:after { content: " in "; }
.experience .title { display: block; font-weight: bold; }
.experience ul { margin-left: -20px; }
.experience ul li { clear: both; margin-bottom: 6px; list-style: disc outside none; }
.experience header {
  background-color: #666;
  color: white;
  display: block;
  text-align: left;
	padding: 10px;
	margin: 0 0 10px -20px;
}

.education {
	float: left;
	width: 50%;
}
.education div {
  background-color: #123456;
  color: white;
	display: block;
	text-align: left;
	padding: 10px;
	margin: 0 -20px 0 0;
	height: 154px;
}
.education h2 { color: #fff; }
.education a, .education a:active, .education a:visited, .education a:link { color: #ccc; }
.education a:hover { cursor: pointer; }
